<section class="reading" *ngIf="reading">
  <div class="reading__header">
    <div class="reading__level">
      Level: <span> {{ reading.level }}</span>
    </div>

    <div
      class="reading__grade"
      [ngClass]="'reading__grade--' + reading.grade?.toLocaleLowerCase()"
    >
      Grade: <span>{{ reading.grade }}</span>
    </div>

    <button
      class="reading__toggle-text"
      [ngClass]="{ 'reading__toggle-text--toggled': toggleText }"
      (click)="toggleModuleText()"
    >
      <ng-container *ngIf="toggleText; else showText">
        <img src="icons/eye-off.svg" alt="toggle-on" />
      </ng-container>
      <ng-template #showText>
        <img src="icons/eye-open.svg" alt="toggle-off" />
      </ng-template>
    </button>
  </div>
  <div class="reading__content" *ngIf="toggleText">
    <article class="reading__passage">
      <p class="reading__passage--text">
        {{ reading.passage }}
      </p>
    </article>
  </div>
</section>
