<app-navbar></app-navbar>
<section class="home">
  <div class="home__wrapper">
    <div class="home__container">
      <div class="home__info">
        <h1 class="home__title">
          English level test: Test your English online
        </h1>
        <p class="home__description">
          Find out your level of grammar with this easy 20-minute English
          placement test. Knowing your level will help you identify strengths
          and areas for improvement, and reach your learning goals.
        </p>
      </div>
      <div class="home__gallery">
        <div class="image" style="background-image: url('hero.avif')"></div>
        <div class="image" style="background-image: url('hero.avif')"></div>
        <div class="image" style="background-image: url('hero.avif')"></div>
      </div>
    </div>
    <div class="home__container">
      <div class="home__faq">
        <div class="home__faq-title">
          <h2 class="home__faq-title--heading">
            How does English placement test work?
          </h2>
          <span class="home__faq-title--description">
            Test your English grammar with this Preply placement test.
          </span>
        </div>
        <div class="home__faq-content">
          <div class="home__faq-content-item">
            <img src="icons/History_icon.svg" alt="history" />
            <p>20 minutes</p>
          </div>

          <div class="home__faq-content-item">
            <img src="icons/Lightning_icon.svg" alt="results" />
            <p>Immediate results</p>
          </div>

          <div class="home__faq-content-item">
            <img src="icons/Login_icon.svg" alt="login" />
            <p>No fees</p>
          </div>

          <div class="home__faq-content-item">
            <img src="icons/Notes_icon.svg" alt="questions" />
            <p>36 questions</p>
          </div>
        </div>
        <button class="home__faq-link" (click)="goToPlacementTest($event)">
          Start test
        </button>
      </div>
      <div class="home__instructions">
        <h2>Test instructions:</h2>

        <ol class="home__list">
          <li class="home__list--item">
            <b>Answer all questions:</b> There are 36 single-select questions in
            total
          </li>
          <li class="home__list--item">
            <b>Be honest</b> To get the most out of the test, make sure your
            answers are real. If you don’t know the answer, select “I don’t
            know”. No one is judging you!
          </li>
          <li class="home__list--item">
            <b>Be conscious of time</b> While you’re not limited in time, try
            not to overthink each answer. This will help you get a more precise
            result
          </li>
          <li class="home__list--item">
            <b>Read questions carefully</b> Don’t rush when you read the
            questions and make sure you understand them before answering
          </li>
          <li class="home__list--item">
            <b>Check your results</b> After the test, you’ll get an approximate
            evaluation of your current level
          </li>
        </ol>
      </div>
    </div>

    <div class="home__container container-links">
      <div class="container-links__title">
        <h2>What English levels are there?</h2>
        <span
          >Our English placement test evaluation method is based on the
          <a
            href="https://www.coe.int/en/web/common-european-framework-reference-languages"
          >
            Common European Framework of Reference for Languages</a
          >
          (CEFR). This means that your result will fit into one of the following
          7 grades recognized worldwide.
        </span>
      </div>
      <div class="home__levels">
        <div class="home__levels-item" id="a0">
          <h2 class="home__levels-item-title">A0</h2>
          <span class="home__levels-item-description">Beginner</span>
          <p class="home__levels-item-text">
            You are starting to learn your first few words.
          </p>
        </div>
        <div class="home__levels-item" id="a1">
          <h2 class="home__levels-item-title">A1</h2>
          <span class="home__levels-item-description">Elementary</span>
          <p class="home__levels-item-text">
            You can understand and use basic expressions and phrases.
          </p>
        </div>
        <div class="home__levels-item" id="a2">
          <h2 class="home__levels-item-title">A2</h2>
          <span class="home__levels-item-description">Pre-Intermediate</span>
          <p class="home__levels-item-text">
            You can communicate in a simple way and perform routine tasks.
          </p>
        </div>

        <div class="home__levels-item" id="b1">
          <h2 class="home__levels-item-title">B1</h2>
          <span class="home__levels-item-description">Intermediate</span>
          <p class="home__levels-item-text">
            You can understand and use sentences on familiar or personally
            interesting topics encountered in work, school, or travel.
          </p>
        </div>

        <div class="home__levels-item" id="b2">
          <h2 class="home__levels-item-title">B2</h2>
          <span class="home__levels-item-description">Upper-Intermediate</span>
          <p class="home__levels-item-text">
            You can interact with a degree of fluency and spontaneity with
            native speakers.
          </p>
        </div>
        <div class="home__levels-item" id="c1">
          <h2 class="home__levels-item-title">C1</h2>
          <span class="home__levels-item-description">Advanced</span>
          <p class="home__levels-item-text">
            You can use the language flexibly and effectively for social,
            academic, and professional purposes.
          </p>
        </div>

        <div class="home__levels-item" id="c2">
          <h2 class="home__levels-item-title">C2</h2>
          <span class="home__levels-item-description">Proficient</span>
          <p class="home__levels-item-text">
            You can understand with ease everything heard or read and can
            express yourself very fluently and precisely in more complex
            situations.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
