<div class="modal" [class.modal--show]="isModalOpen">
  <div class="modal__content">
    <span class="modal__close" (click)="closeModal()">&times;</span>
    <form
      class="modal__form"
      [formGroup]="feedbackForm"
      (ngSubmit)="sendFeedback()"
    >
      <label class="modal__label" for="from_name">Your Name:</label>
      <input
        class="modal__input"
        id="from_name"
        formControlName="from_name"
        type="text"
      />

      <label class="modal__label" for="message">Message:</label>
      <textarea
        class="modal__textarea"
        id="message"
        formControlName="message"
      ></textarea>

      <button class="modal__button" type="submit">Send Feedback</button>
    </form>
  </div>
</div>

<button class="open-modal-button" (click)="openModal()">Feedback</button>
