.quiz {
    font-family: "Figtree", "Figtree-fallback", "Figtree-fallback-android", "Noto Sans", "NotoSans-fallback",
        "NotoSans-fallback-android", sans-serif;

    width: 100%;
    min-height: 100vh;
    max-height: fit-content;

    padding: 5rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    &.grade-a1 {
        background-color: rgba(144, 238, 144, 0.5);
    }

    &.grade-a2 {
        background-color: rgba(212, 212, 85, 0.5);
    }

    &.grade-b1 {
        background-color: rgba(255, 165, 0, 0.5);
    }

    &.grade-b2 {
        background-color: rgba(255, 0, 0, 0.5);
    }

    &.grade-c1 {
        background-color: rgba(128, 0, 128, 0.5);
    }

    &.grade-c2 {
        background-color: rgba(0, 0, 139, 0.5);
    }

    &__wrapper {
        border-radius: 18px;
        padding: 1rem 2rem;

        width: 100%;
        max-width: 60vw;
        height: fit-content;

        // background-image: url("/background-quiz.png");
        background-color: aliceblue;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        box-shadow:
            rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    &__title {
        margin: 2rem 5rem;

        display: flex;
        flex-direction: column;
        gap: 20px;

        h1 {
            font-size: 1.2rem;
            font-weight: 700;
            color: black;
        }

        p {
            font-size: 0.8rem;
            color: #333;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}
